* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

/* header -part */

.navbar {
    display: flex;
    justify-content: space-between;
 
    background-color: rgb(234, 234, 234);
    padding-top: 10px;
    padding-bottom: 10px;
}

.img1 {
    height: 30px;
    width: 50px;
    padding-left: 10px;
}

.midle {
    position: relative;
}

.fa-magnifying-glass {
    position: absolute;
    top: 8px;
    left: 190%;
}

input {
    padding: 10px;
}

.input-fil {
    width: 200%;
    height: 30px;

}

.img2 {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 30px;
}

.icons i {
    padding-right: 20px;
}

.section {
    display: flex;

}

.section1 {
    height: 120vh;

    width: 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(234, 234, 234);
}

.start {

    color: gray;
    text-align: center;

}

.fa-home {
    font-size: 30px;
}

.end {

    text-align: center;
    color: gray;
}

.section2 {
    height: 100vh;

    width: 93%;

}

.upper-content {
    display: flex;
}

.part1 {
    height: 40vh;
    width: 70%;
}

.part1 h1,
h3 {
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
}

.part1 p {
    margin-left: 10px;
}

.part2 {
    height: 40vh;

    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn1 {
    /* padding: 4px; */
    border-radius: 20px;
    width: 15%;
    height: 12%;
    margin-left: 10px;
    margin-top: 110px;
    border: 1px solid rgb(188, 188, 188);
}

.btn2 {
    border-radius: 5px;
    margin-left: 50%;
    width: 40%;
    height: 30px;
    padding: 20px;
    background-color: rgb(51, 51, 162);
    color: white;
    margin-top: 30px;
    border: none;
}

#date {
    margin-left: 50%;
    width: 40%;
    height: 30px;
    margin-bottom: 20px;
}

.box1 {
    height: 10vh;
    border: 1px solid rgb(200, 195, 195);
    width: 1100px;
    margin-left: 60px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;

}

.lower-part-content {
    height: 90vh;
    width: 100%;

}

.btn4 {
    width: 12%;
    height: 30px;
    margin-left: 30px;
}

.fa-ellipsis {
    margin-right: 10px;
}

.side-part {
    display: flex;
    padding-left: 10px;

}

.cntent {
    padding-left: 10px;
}

.task-bar {
    border: 1px solid black;
    margin-top: 7px;
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.fa-windows {
    color: black;
    font-size: 30px;
    padding-top: 10px;
    padding-left: 10px;
    color: white;
}

.fa-search {
    padding-left: 20px;
    color: white;
}

.fa-circle {
    height: 20px;
    padding-left: 20px;
    color: white;
}

.img-micro {
    padding-left: 20px;
    color: white;
}

.chrome {
    padding-left: 20px;

}

.task-bar-right {
    padding-right: 20px;
}

.fa-comment-alt {
    color: white;
    padding-right: 20px;
}

.fa-volume-up {
    color: white;
    padding-right: 20px;
}

.fa-tv {
    color: white;
    padding-right: 20px;
}

.fa-battery-half {
    color: white;
    padding-right: 20px;
}

.fa-angle-up {
    color: white;
    padding-right: 20px;
}

.fa-comment-alt {
    color: white;
    padding-right: 20px;
}

.task-bar-right p {
    color: white;
    padding-right: 20px;
}

.task-bar-right {
    display: flex;
    align-items: center;
}

.fa-cloud {
    color: white;
    padding-right: 20px;
}