@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Devanagari:wght@300&family=IBM+Plex+Sans:wght@300&family=IBM+Plex+Serif:ital,wght@1,600&family=Lato:ital,wght@0,300;1,300;1,400&family=Montserrat:wght@200;400;500&family=Open+Sans:wght@300&family=Playfair+Display&display=swap');

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header
{
    background-image: url('12.1.jpg');
    height: 600px;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.text
{
    padding-top: 13%;
  

}
strong 
{
    padding-left: 200px;
   padding-bottom: 20px;
   font-family: 'IBM Plex Sans', sans-serif;
}
h1{
    padding-left: 200px;
    font-size: 55px;
}
button
{
 margin-left: 200px;
 margin-top: 20px;
 height: 50px;
 min-width: 200px;
 border-radius: 25px;
 border: white;
 background-color: white;
}
.h1-p
{
    min-width: 60px;
    margin-top: 80px;
    margin-left: 80px;
    padding: 40px;
    
}
.h1-p h2
{
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
}
.bg-orange
{
    font-weight: bold;
    text-align: center;
    min-height: 20vh;
    background-color:orange;
    color: white;
    font-size: 25px;
 padding-top: 35px;
}
.container
{
    margin: 0px auto;
    max-width: 1200px;
    width: 90%;
}
.hotest-phone {
    margin-top: 20px;

 clear: both;


}
/* part 1 */
.part-1
{
    float: left;
    width: 32.4%;  
   
   
   
}
.h-p{


  background-color: orange;
   margin-top: 80px;
   width: 350px;
   padding: 30px;
   color: white;
  
 
  
}
.h-p h2
{
   
    margin-bottom: 20px;
    color: black;
}
/* part 2 */
.part-2
{
    float: left;
    width: 32.4%;  
    padding-left: 20px;
   
}
.img-2
{
    height: 150px;
}
.h-p2{


    background-color: orange;
     margin-top: 80px;
     width: 350px;
     padding: 30px;
     color: white;
   
    
  }
  .h-p2 h2
  {
     
      margin-bottom: 20px;
      color: black;
  }
/* part 3 */
.part-3
{
    float: left;
    width: 32.4%;  
    padding-left: 30px;
   
}

.h-p3{


    background-color: orange;
     margin-top: 80px;
     width: 350px;
     padding: 30px;
     color: white;
   
    
  }
  .h-p3 h2
  {
     
      margin-bottom: 20px;
      color: black;
  }

.h0t-h
{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 40px;
    margin-left: 10px;
 
}
.first-4-img
{
    float: left;
    margin-bottom: 50px;

}
.IMGS-HEADPHONES h1
{
   padding-top: 40px;
    border:  1px solid black;
    clear: both;
    text-align: left;
  
}
.imges-8 h1
{
  padding: 60px;
}
.text1{
    float: left;
        padding: 30px;
    margin-top: 60px;
}
.text1 h3{
    font-size: 30px;
    padding-top: 20px;
}
.btn
{
    float: right;
    margin-top: 90px;
}

/* .btn2{
    border: 1px solid black;
    padding: 10px;
    border-radius: 25px;
    background-color: white;
    text-decoration: none;
    color: black;
    margin-right: 50px;
    margin-top: 10px;
} */
    footer{
    clear: both;
    height: 300px;
    padding-top: 50px;
    background-color: orange;
}