@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=IBM+Plex+Serif:ital,wght@1,600&family=Lato:ital,wght@0,300;1,300;1,400&family=Montserrat:wght@200;400;500&family=Open+Sans:wght@300&family=Playfair+Display&family=Roboto:wght@100;300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans', sans-serif
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 30px;
    border: 1px solid gray;
    margin-bottom: 60px;

}

.input {
    padding: 10px;
    height: 50px;
    width: 200px;

}
.left{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.fa-magnifying-glass{
    position: absolute;
    left: 13%;
    top: 15%;
}

.text {
    position: relative;
}

.btn {
    position: absolute;
    top: 0;
    border: none;
    color: gray;

}

.container {

    margin: auto;
    max-width: 1200px;
    width: 90%;
}


.section1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 20%;

}




.container1 h1 {

    font-size: 80px;
    font-weight: 900;
    color: rgb(241, 241, 12);

}

.container1 h2 {
    font-size: 50px;
    color: grey;
    font-family: 'IBM Plex Sans', sans-serif;

}

.container1 p {
    text-align: inherit;
    padding-top: 50px;
    font-size: 20px;
    /* padding-right: 90px; */
    padding-right: 30px;
    font-family: 'Roboto', sans-serif;

}

.p-right {
    padding-right: 20px;

}

.container2 {
    margin-top: 80px;
}

.container1 a {
    border: 1px solid black;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 50px;
    padding-bottom: 5px;
    text-decoration: none;
    color: black;

}

.container2 {
    position: relative;
}

.IMG2 {
    position: absolute;
    left: 30px;
    top: 60%;
}

.color-yelloe {
    color: orange;
}

.asides {
    background-color: orange;


}

.section-2 {


    display: flex;
    justify-content: space-between;
    /* position: absolute; */


}

.part-1 {
    background-color: white;
    padding-top: 30px;
    width: 270px;
    margin-bottom: 40px;


}

.part-1 h5 {
    text-transform: uppercase;
    font-size: 20px;

    text-align: center;
    color: orange;
    padding-top: 30px;
}

.part-1 span {
    font-size: 30px;
    color: black;

    padding-left: 50%;
}

.part-1 p {


    padding: 20px;
}

.fa-brush {


    padding: 15px;
    border-radius: 35px;
    background-color: orange;
}

.About {
    background-color: lightgray;
    height: 500px;
}

.About h1,
p,
a {
    text-align: center;
}

.About h1 {
    padding-top: 40px;
    color: black;
    font-size: 60px;
}

.About p {

    /* padding: 30px; */
    font-size: 25px;

}

.About a {
    /* text-align: center; */
    background-color: orange;
    text-decoration: none;

    padding-left: 30px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: black;
}

.anchor {
    margin-left: 43%;

    margin-top: 10%;
}

aside {
    background-image: url('2.jpg');
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    padding-top: 40px;
    padding-left: 40px;

}

.repair-service {
    background-color: orange;
    height: 600px;
    width: 500px;

}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
    padding-left: 40px;
    margin-left: 30px;


}

.heading h1 {
    font-size: 6rem;
    font-family: Oswald, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.heading h4 {
    font-size: 40px;
}

.heading p {
    margin-top: 80px;
    text-align: left;
    color: white;
}

.popular-services p {

    padding-right: 55%;

}

.popular-services h1 {
    font-size: 4.5rem;
    font-family: Oswald, sans-serif;
}

article {
    background-image: url('3.jpg');
    background-color: gray;

}

.card-1 {

    background-color: rgb(227, 232, 199);
    height: 400px;
    margin-bottom: 50px;
    width: 300px;
}

.card-1 p {
    padding-top: 20px;
    margin-left: px;
}

.card-1 h1 {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 30px;
    font-family: Oswald, sans-serif;



    text-transform: uppercase;
}

.card-1 img {
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 10px;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.back-gr {
    background-color: black;
    height: 900px;
    color: white;
    padding-top: 30px;
}

.back-gr h1 {
    font-weight: bolder;
    font-size: 3rem;

}

.upper-part {
    text-align: center;
}

.lorum1 {
    text-align: center;

    width: 300px;

}

.lorum1 h1 {
    font-family: Oswald, sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
}

.lorum1 p {
    padding: 20px;

}

.lorum-part {
    display: flex;
    justify-content: space-between;
}

.lorum-part1 {
    margin-top: 70px;
    justify-content: space-between;
    display: flex;
}

.BTN1 {

    margin-left: 43%;
    border: 1PX solid orange;


    padding-right: 10PX;
    padding-left: 20PX;
    width: 150PX;
    padding-bottom: 20PX;
    padding-top: 20PX;
}

.BTN1 a {
    color: orange;
    text-decoration: none;
}

.img-about-section {
    display: flex;
    padding: 80px 0;
    position: relative;

}

.bg {

    width: 700px;
    height: 500px;
    background-color: orange;

}

.bg img {
    width: 680px;
    height: 500px;
    position: absolute;
    top: 5%;
    left: 6%;
}

.ABOUT-SECTION {

    width: 500px;
    height: 500px;
    padding: 80px 20px 80px 90px;
}


.painting {
    background-image: linear-gradient(-90deg, white 50%, gray 50%);
    height: 680px;
}

button {
    padding: 20px;
    color: black;
    border: 1px solid black;
    margin-top: 60px;
    margin-left: 20px;
}

.ABOUT-SECTION h1 {
    font-size: 50px;
}

.ABOUT-SECTION p {
    padding-left: 10px;
    padding-right: 40px;
    padding-top: 30px;
}

.end-section {

    background-color: black;
}

.form {
    display: flex;
    position: relative;
    background-color: black;
}

.end-right {

    padding-left: 90px;
    padding-right: 40px;
    padding-top: 40px;
    position: absolute;
    background-color: orange;
    color: black;
    width: 400px;
    height: 400px;
    margin-top: 60px;
    margin-left: 70px;
}

.end-right h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.25rem;
}

.end-right p {
    text-align: left;
    padding-top: 20px;
}

.end-left {
    border: 1px solid pink;
    background-color: white;
    width: 650px;
    height: 500px;
    margin-left: 30%;
    margin-top: 30px;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

.f-nmae {

    padding-bottom: 30px;
    width: 90%;
    padding-top: 40px;
    margin-left: 90px;
    border: none;
    border-bottom: 2px solid black;

}

.email {
    padding-bottom: 30px;
    width: 90%;
    padding-top: 40px;
    margin-left: 90px;
    border: none;
    border-bottom: 2px solid black;
}

.message {
    padding-bottom: 90px;
    width: 90%;
    padding-top: 40px;
    margin-left: 90px;
    border: none;
    border-bottom: 2px solid black;
}

button {
    padding-left: 30px;
    margin-left: 20%;
    margin-top: 10px;
    border: 2 px solid black;
}

footer {
    background-color: gray;
    height: 100px;
}

.footer-end {
    text-align: center;
    padding-top: 30px;
}