*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container
{
    margin: auto;
    max-width: 1200px;
    width: 90%;
}
header
{
    background-color: rgb(52, 48, 48);
    margin-bottom: 50px;

  
}
.Flex-container
{

    display: flex;
    color: white;
    justify-content: space-between;
    padding: 40px 0px;
    
}
.right ul
{
    display: flex;
    background-color: black;
    border: 2px solid white;

}
.right ul  li {
    list-style-type: none;
    padding: 20px 20px;
}
.right ul  li a{
    text-decoration: none;
    color: orange;
    
}
.box
{
    display: flex;
    justify-content: center;
     align-items: center;
    background-color: black;
    height: 600px;
    color: white;
    margin-bottom: 30px;
}
.block1
{
width: 290px;
height: 180px;
background-color: black;
color: wheat;
display: flex;
justify-content: center;
align-items: center;
}
.card-1
{
    width: 290px;
    height: 180px;  
}
.text
{
   margin-top: 10px;
  
}
.text h1{
    margin-top: 10px;
    margin-bottom: 10px;
}
.text p
{
    margin-bottom: 10px;
}
.text h3
{
    display: flex;
    justify-content: flex-end;
}
.card{
display: flex;
justify-content: space-between;
margin-bottom: 50px;
height: 360px;

}
.orange
{
    color: orange;
}
.footer-above-aprt{
    display: flex;
}
.box1
{
    display: flex;
    width: 600px;
    background-color: black;
    height: 300px;
    justify-content: center;
    align-items: center;
    color: white;
}
.lorum h1
{
padding-bottom: 10px;
}
.lorum p{
    padding-bottom: 10px;
}
.lorum h3{
    display: block;
    padding-top: 30px;
    text-align: end;
}
.links
{
    padding: 30px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: orange;
}
.link-block h1{
    color: white;
    padding-bottom: 20px;
}
.link-block h3
{
    padding-top: 10px;
}

footer
{
  background-color: black;
}
.footer2
{
    display: flex;
    justify-content: space-between;
   
}
.footer-last
{
    background-color: grey;
    padding: 40px 0px;
}





