@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,600&family=Lato:wght@300&family=Montserrat:wght@200;400;500&family=Open+Sans:wght@300&family=Playfair+Display&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container
{
    margin: auto;
    max-width: 1200px;
    width: 90%;
}
header
{
    background-color: rgb(52, 48, 48);
    height: 150px;
  
}
.log
{
    float: left;
   color: white;
   margin-top: 30px;
    
}

.nav-bar
{
    float: right;
   
    background-color: red;
padding: 20px;
margin-top: 30px;
   
}
.nav-bar ul li{
    display: inline;
   
}
.nav-bar ul li a{
    color: white;
    padding: 10px;
   
  
}
.main
{
  
    height: 500px;
    margin-top: 70px;
    background-image: url('macd.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.section-part{
    margin-top: 30px;
}
.section-1
{
    float:left ;
    height: 250px;
    width: 350px;
    background-image: url('pasta.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 130px;
  
}
.section-2
{
    float:left ;
    height: 250px;
    width: 350px;
    background-image: url('burger.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 130px;
  margin-left: 70px;
 
}
.section-3
{
    float:right;
    background-image: url('sharmaimages.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 350px;
    
 
    
    padding-top: 130px;
    
}
.paragraph
{
    margin-top: 30px;
    color: gray;
}
.para-1
{
    float: left;
    font-size: 20px;
   
    
}
.para-1 h1{
    font-family: 'IBM Plex Serif', serif;
}
.para-1 p{
    margin-top: 15px;
    margin-bottom: 15px;
}
.para-1 h3{
    text-align: right;
    padding-top: 10px;
}
.para-2
{
    float: left;
    margin-left: 20px;
    font-size: 20px;
}
.para-2 h1{
    font-family: 'IBM Plex Serif', serif;
}
.para-2 p{
    margin-top: 15px;
    margin-bottom: 15px;
}
.para-2 h3{
    text-align: right;
    padding-top: 10px;
}
.para-3
{
    float: right;
    font-size: 20px;
}
.para-3 h1{
    font-family: 'IBM Plex Serif', serif;
}
.para-3 p{
    margin-top: 15px;
    margin-bottom: 15px;
}
.para-3 h3{
    text-align: right;
    padding-top: 10px;
}
.paragraph
{
    margin-top: 350px;
}
.orange
{
    color: orange;
}

.lorum-content
{
  
    margin-top: 550px;  
}
.lorum
{
    color: gray;
    float: left;
    width: 55%;
}
.lorum h1{
    margin-bottom: 10px;
    font-family: 'IBM Plex Serif', serif;
}
.p1{
    margin-top: 15px;
    margin-bottom: 15px;
    /* font-size: 15px; */
  

}
.lorum h3{
    text-align: right;
   padding: 30px;
}
.lorum-side-part
{
    width: 45%;
    float: right;
    background-image: url('coke.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding-top: 130px;
    width: 500px;
    height: 250px;
  margin-top: 10px;
  
}
.block-1 h1,h3
{
    color: orange;
}
.block-part1
{
    margin-top: 40px;
    float: left;
    width: 50%;
    border:  1px solid black;
    color: gray;
}

.block-1

{
    float: left;
    
}
.block-1 h1{
    font-family: 'IBM Plex Serif', serif;
}
.block-1 h3{
    padding-top: 15px;
}

.block-2
{
    float: left;
    margin-left: 90px;
}
.block-2 h1,h3
{
    color: orange;
}
.block-2 h1{
    font-family: 'IBM Plex Serif', serif;
}
.block-part2
{
    color: gray;
    margin-top: 40px;
    width: 50%;
    float: right;
    border:  1px solid black;
}
.block-2 h3{
    padding-top: 15px;
}

.block-3
{
    float: right;

    
}
.block-3 h1,h3
{
    color: orange;
}
.block-3 h1{
    font-family: 'IBM Plex Serif', serif;
}
.block-3 h3{
    padding-top: 15px;
}


.block-4
{
    float: right;
    margin-right: 90px;
}
.block-4 h1{
    font-family: 'IBM Plex Serif', serif;
}
.block-4 h3{
    padding-top: 15px;
   
}
.block-4 h1,h3
{
    color: orange;
}
.footer-last-part
{
    background-color: black;
    height: 300px;
    margin-top: 900px;
}
.L-H3
{
    clear: both;
    margin-top: 20PX;
    float: left;
    color: gray;

}
.R-H3
{
   
    margin-top: 20PX;
    float: right;
    color: gray;
  
} 
.back
{
   background-color: rgb(40, 39, 39);
   
    height: 70px;
    
}