*
{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container
{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&family=Montserrat&family=Kaushan+Script&display=swap');
.header1
{
    background: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url(./images/main-bcg.jpeg);
    
   
    height: 700px;
    margin-bottom: 20px;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}
.navbar 
    {
    color: white;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    }
    .navbar h1
    {
        font-family: 'Kaushan Script', cursive;
    
    }


.links li
{
    display: inline;
   
    padding-left: 30px;
    font-size: 30px;
 
   
   
}
.links a{
  color: white;
  text-decoration: none;
}

.img-1
{
  height: 50px;
}
.icon-div{
   
   
    }
    .icon-div i{
         font-size : 30px;
         color : white;

     
    }
    
    
  
    .content
    {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding-top: 100px;
        color: white;

        
    }
    .content h1{
           font-family: "Kaushan Script", cursive;
        font-size: 70px;
        padding-bottom: 40px;
        letter-spacing: 5px
    }
      .content p{
        font-size: 40px;
        padding-bottom: 40px;
      }
      .btn1
      {
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 20px;
        padding-bottom: 20px;
     background-color: transparent;
     color: white;
     border-color: white;
     border-radius: 6px ;
      }
      .heading h1
      {
        text-align: center;
        padding-bottom: 50px;
      }
      .img1
      {
height: 200px;
width:  300px;
border-radius: 13px;
      }
      .section-part
      {
        display: flex;
        justify-content: space-between;
      

      }
      .img-below-content-h
      {
        text-align: center;
        padding-top: 20px;
      }
      .img-below-content-h p
      {
        color: gray;
        padding-bottom: 15px;
      }

      .btn2
      {
       padding: 10px;
       background-color: orangered;
       color: white;
       border: none;
       
      }
      .button{
        text-align: center;
       margin-top: 20px;
      }
      .img-icon-part
      {
        position: relative;

      }
      .icons
      {
        position: absolute;
        top: 130px;
        left: 130px;
        font-size: 20px;
        opacity: 0;    
    }
  
    .fa-solid .fa-cart-shopping .shoppingg
    {
      
        color: white;
     
      
    }

    .img-icon-part:hover .icons{
        opacity: 1;
    }
    /* product  */
    .header{
      height: 100px;
      background-color: white;
    }
    .navbar-product 
    {
      border: none;
    color: gray;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    }
    .navbar-product h1
    {
        font-family: 'Kaushan Script', cursive;
    
    }


.links-product li 
{
    display: inline;
   
    padding-left: 30px;
    font-size: 30px;
 
   
   
}
.links-product a
{
color: gray;
 text-decoration: none;
}
.img-1
{
  height: 50px;
}
.icon-div-product{
    position: relative;

    }
    .icon-div-product i{
         font-size : 30px;
         color : black;

     
    }
    

    .navbar2-product
    {
      height: 100px;
      background-color: #edebe6;
    
    }
    .navbar2-product h1{
      padding: 30px;
     
      font-family: 'Roboto', sans-serif;;
    }
    .img1-p
    {
      height: 200px;
      width: 250px;
      
    }
 .main
   {
    
   display: flex;
   margin-top: 30px;



   
   }
   .section1-p
   {
    line-height: 2rem;
   }
   .section2-p
   {
    display: flex;
    flex-wrap: wrap;
  padding-left: 20px;
  justify-content: space-between;
  

   }
   .img-below-content-h-p 
   {
    text-align: center;
    color:grey ;
   }
    .img-below-content-h-p h3
    {
       color: black;
    }
    .img-icon-part-p
    {
      position: relative;
    }
    .icons-p
    {
      position: absolute;
      top: 70px;
      left: 60px;
      font-size: 20px;
      opacity: 0;    
  }
 .fa-magnifying-glass 
 {
  padding: 12px;
  color: white;
  background-color: orangered;
  border-radius: 50%;
 }
 .fa-cart-shopping 
 {
  padding: 12px;
  color: white;
  background-color: orangered;
  border-radius: 50%;
 }
 .img-icon-part-p:hover .icons-p{
  opacity: 1;
}

.paragraph
{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 100px;

}
.paragraph h1{
  font-family: 'Roboto', sans-serif;;
}
.paragraph p{
padding-top: 30px;
padding-left: 70px;
padding-right: 70px;
line-height: 2;
color: gray;
}

.dot-orange
{
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: orangered;
  margin-bottom: 10px;
}
.dot-black
{
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: black;
  margin-bottom: 10px;
}
.Add-to-card
{
width: 130px;

background-color: orangered;
color: white;
margin-top: 30px;
padding: 10px;
}
.main-single-product
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  

}
.high-back-content
{
  display: flex;
  flex-direction: column;
 margin-left: 30px;


}
.high-back-content
{
  line-height: 2rem;
  
}
 .high-back-content h3
{
  font-family: 'Roboto', sans-serif;
  padding-bottom: 20px;
}

