*
{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family:  sans-serif;
}

.container
{
    margin: auto;
    max-width: 1200px;
    width: 90%;
}
.nav-bar ul li
{
float: left;
list-style-type: none;
padding: 10px;


}
.nav-bar ul 
{
    float: right;
}
ul li a
{
text-decoration: none;
color: gray;


}
.logo
{
    margin-top: 20px;
    float: left;
    margin-left: 50px;
}

.nav-bar
{
    padding: 20px;
    margin-right: 20px;
}
.back-gr
{
    margin-top: 80px;
margin-left: 50px;
    background-color: black;
    height: 500px;
    width: 95%;
    color: white;
}
.back-gr h1{
    text-align: center;
    line-height: 480px;
    color: white;
}
.aside
{
    /* border: 1px solid black; */
    float: left ;
    width: 30%;
    height: 500px;
}
.main
 {
    /* border: 1px solid black;  */
    float: left;
    
    width: 70%;
    height: auto;
    padding-left: 40px;
}
.content
{
    margin-top: 30px;
    margin-left: 50px;
}
h1
{
    color: gray;
    font-family: serif;
}
h3{
    border-bottom: 1px solid gray;
    padding-top: 20px;
    color: gray;
    font-family: serif;
}
p{
    /* border-bottom: 1px solid gray; */
    color: gray;
    
}
.get-in-contact
{
    padding-top: 20px;
   
}
.get-h1
{
  border-bottom: 1px solid gray;  
  padding-top: 20px;
}
address
{
    margin-top: 20px;
}
/* .span{
    padding-top: 60px;
} */
.color-oran
{
    color: orange;
}
.right
{
    float: left;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.left
{
    float: right;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}
i{
    margin-right: 10px;
}
.aside h3{
    padding: 10px;
}
.main h1{
    padding: 20px;
    padding-left: 0px;
}