tr:nth-child(even) {
    background-color: #dddddd;
  }
  table ,th,td{
    border: 1px solid #dddddd;
    border-collapse: collapse;
    padding-top: 10px;
    padding-bottom: 20px;
    
    padding-right: 40px;
    /* font-family: arial, sans-serif; */
    text-align: left;
    
    
}
th{
  border-bottom:3px solid gray ;
}